
body{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;    
}
/*Quitar linea a todos los textos ancla*/
/*Cambiar el cursor por mano cada que pase el mouse*/
a{
    text-decoration: none;
    cursor: pointer;
}
/*Ajustar el header al 100% del ancho y 60px de alto*/
header{
    width: 100%;
    height: 60px;
}
/*Ajustar el nav hacia el lado derecho*/
header nav {
    display: flex;
    justify-content: flex-end;
}
/*Posicionamiento de lista en horizontal*/
header nav .nav-right-section{
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
/*Separación de textos del navbar y ajuste color*/
nav .nav-right-section a{
    margin-right: 10px;
    color: #000000;
}
/*Inserción del icono de Apps de Google*/
nav .nav-right-section .menu-icon{
    background-image: url(https://res.cloudinary.com/kenobi22v/image/upload/v1662662859/clone-google/apps_black_24dp_jxt3bt.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}
/*Estilos para imagen de usuario*/
nav .nav-right-section img{
    border-radius: 50%;
    margin-left: 10px;
}
/*Estilos para main*/
/*Centrar texto y agregar margen superior*/
main{
    margin-top: 150px;
    text-align: center;
}
/*Tañano del logo
  Margen al logo
*/
main .main-logo{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}
/*
Ancho para ajustar la imagen
*/
main .main-logo img{
    width: 300px;
}

/*ESTILOS INPUT*/

/*
Ancho del input y margen
*/
main .main-input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}
/*
Estilos al contenedor interno
*/
main .main-input-container{
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
Margen y eliminación de bordes para el input
*/
main .main-input input{
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
}
/*
Estilo de sobra para bordes del input
*/
main .main-input-container:hover{
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}
/*
Inserción de icono de lupa y estilos
*/
main .main-input .source-icon{
    background-image: url(https://res.cloudinary.com/kenobi22v/image/upload/v1662666630/clone-google/search_black_24dp_hpgz0p.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    opacity: .45;
    margin-right: 10px;
}
/*
Inserción de icono de microfono y estilos
*/
main .main-input .micro-icon{
    background-image: url(https://res.cloudinary.com/kenobi22v/image/upload/v1662666668/clone-google/googlemic_color_24dp_guftlf.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
}
/*ESTILO DE BOTONES*/
/*
Ancho y margenes
*/
main .main-buttons{
    width: 530px;
    margin: 0 auto;
}
/*
Alineación horizontal de botones
*/
.main-buttons div{
    display: inline-block;
}
/*
Altura y estilos del boton
*/
main .main-buttons button{
    height: 36px;
    background-color: #f2f2f2;
    border: none;
    font-size: 14px;
    color: #5f6368;
    border-radius: 5px;
    padding: 0 15px;
    margin-right: 15px;
}
/*
Estilos sombreado del boton
*/
main .main-buttons button:hover{
    border: 1px solid #c6c6c6;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    color: #222;
    background-color: #f8f8f8;
}

footer{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 13px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}
footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;   
}
footer .footer-left{
    justify-content: left;
}
footer .footer-right{
    justify-content: right;
}
footer ul li a{
    margin: 10px;
    color: #5f6368;
}

/*
footer .footer-left{
    width: 500px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

footer .footer-right{
    width: 500px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}*/